body {
    background-color: #2B2B2B;
    color: #BBBBBB;
    word-wrap: break-word;
    font-family: sans-serif;
}

header {
    display: block;
}

.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-right: 15px;
    padding-left: 15px;
    box-sizing: border-box;
}

@media (min-width: 576px) {
    .container {
        max-width: 405px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 855px;
    }
}

header.top {
    text-align: center;
    padding: 50px;
}

header.top a {
    color: #BBBBBB;
    text-decoration: none;
}

header.top a:hover {
    color: #5394EC;
}

article header {
    margin-bottom: 32px;
}

article header h1 {
    font-size: 2rem;
    margin-bottom: 4px;
}

.header-meta {
    color: #808080;
    text-align: right;
}

.tag-header {
    font-size: 1.5em;
}

.article-card {
    margin-top: 32px;
    padding: .25em 1em;
    border-left: .25em solid #dfe2e5;
}

.article-card .title {
    line-height: 1.5em;
    font-size: 1.5em;
}

.article-card .title a {
    color: #BBBBBB;
    text-decoration: none;
}

.article-card .title a:hover {
    color: #5394EC;
}

a.tag {
    text-decoration: underline;
    text-decoration-color: #9876AA;
    color: inherit;
    margin-left: .1em;
}

a.tag:hover {
    text-decoration-color: #589DF6;
    color: #589DF6;
}

.switcher {
    width: 100%;
}

.switcher a {
    color: inherit;
    margin-top: 30px;
}

.switcher a:hover {
    text-decoration-color: #589DF6;
    color: #589DF6;
}

.switcher .next {
    float: left;
}

.switcher .prev {
    float: right;
}

.md {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    line-height: 1.5;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
    word-wrap: break-word;
}

.md details {
    display: block;
}

.md summary {
    display: list-item;
}

.md a {
    background-color: initial;
}

.md a:active,
.md a:hover {
    outline-width: 0;
}

.md img {
    border-style: none;
}

.md code,
.md pre {
    font-family: monospace,monospace;
    font-size: 1em;
}

.md hr {
    box-sizing: initial;
    height: 0;
    overflow: visible;
}

.md input {
    font: inherit;
    margin: 0;
}

.md input {
    overflow: visible;
}

.md [type=checkbox] {
    box-sizing: border-box;
    padding: 0;
}

.md * {
    box-sizing: border-box;
}

.md input {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

.md a {
    color: #0366d6;
    text-decoration: none;
}

.md a:hover {
    text-decoration: underline;
}

.md strong {
    font-weight: 600;
}

.md hr {
    height: 0;
    margin: 15px 0;
    overflow: hidden;
    background: transparent;
    border: 0;
    border-bottom: 1px solid #dfe2e5;
}

.md hr:after,
.md hr:before {
    display: table;
    content: "";
}

.md hr:after {
    clear: both;
}

.md table {
    border-spacing: 0;
    border-collapse: collapse;
}

.md td,
.md th {
    padding: 0;
}

.md p {
    margin-top: 0;
    margin-bottom: 10px;
}

.md blockquote {
    margin: 0;
}

.md ol,
.md ul {
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.md ol ol,
.md ul ol {
    list-style-type: lower-roman;
}

.md ol ol ol,
.md ol ul ol,
.md ul ol ol,
.md ul ul ol {
    list-style-type: lower-alpha;
}

.md dd {
    margin-left: 0;
}

.md code,
.md pre {
    font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace;
    font-size: 12px;
}

.md pre {
    margin-top: 0;
    margin-bottom: 0;
}

.md input::-webkit-inner-spin-button,
.md input::-webkit-outer-spin-button {
    margin: 0;
    -webkit-appearance: none;
    appearance: none;
}

.md :checked+.radio-label {
    position: relative;
    z-index: 1;
    border-color: #0366d6;
}

.md .border {
    border: 1px solid #e1e4e8!important;
}

.md .border-0 {
    border: 0!important;
}

.md .border-bottom {
    border-bottom: 1px solid #e1e4e8!important;
}

.md .rounded-1 {
    border-radius: 3px!important;
}

.md .text-gray-light {
    color: #6a737d!important;
}

.md .lh-condensed {
    line-height: 1.25!important;
}

.md .text-bold {
    font-weight: 600!important;
}

.md hr {
    border-bottom-color: #eee;
}

.md:after,
.md:before {
    display: table;
    content: "";
}

.md:after {
    clear: both;
}

.md>:first-child {
    margin-top: 0!important;
}

.md>:last-child {
    margin-bottom: 0!important;
}

.md a:not([href]) {
    color: inherit;
    text-decoration: none;
}

.md blockquote,
.md details,
.md dl,
.md ol,
.md p,
.md pre,
.md table,
.md ul {
    margin-top: 0;
    margin-bottom: 16px;
}

.md hr {
    height: .25em;
    padding: 0;
    margin: 24px 0;
    background-color: #e1e4e8;
    border: 0;
}

.md blockquote {
    padding: 0 1em;
    color: #929aa3;
    border-left: .25em solid #dfe2e5;
}

.md blockquote>:first-child {
    margin-top: 0;
}

.md blockquote>:last-child {
    margin-bottom: 0;
}

.md h2,
.md h3,
.md h4,
.md h5,
.md h6 {
    margin-top: 24px;
    margin-bottom: 16px;
    font-weight: 600;
    line-height: 1.25;
}

.md h2,
.md h3 {
    padding-bottom: .25em;
    border-bottom: 1px solid #5b5b5b;
}

.md h2 {
    font-size: 1.5em;
}

.md h3 {
    font-size: 1.25em;
}

.md h4 {
    font-size: 1.1em;
}

.md h5 {
    font-size: 1em;
}

.md ol,
.md ul {
    padding-left: 2em;
}

.md ol ol,
.md ol ul,
.md ul ol,
.md ul ul {
    margin-top: 0;
    margin-bottom: 0;
}

.md li {
    word-wrap: break-word;
}

.md li>p {
    margin-top: 16px;
}

.md li+li {
    margin-top: .25em;
}

.md table {
    display: block;
    width: 100%;
    overflow: auto;
}

.md table th {
    font-weight: 600;
}

.md table td,
.md table th {
    padding: 6px 13px;
    border: 1px solid #dfe2e5;
}

.md table tr {
    background-color: #fff;
    border-top: 1px solid #c6cbd1;
}

.md table tr:nth-child(2n) {
    background-color: #f6f8fa;
}

.md img {
    max-width: 100%;
    box-sizing: initial;
    background-color: #fff;
}

.md img[align=right] {
    padding-left: 20px;
}

.md img[align=left] {
    padding-right: 20px;
}

.md code {
    padding: .2em .4em;
    margin: 0;
    font-size: 85%;
    background-color: rgba(27,31,35,.05);
}

.md pre {
    word-wrap: normal;
}

.md pre>code {
    padding: 0;
    margin: 0;
    font-size: .9em;
    word-break: normal;
    white-space: pre;
    background: transparent;
    border: 0;
}

.md pre {
    padding: 16px;
    overflow: auto;
    font-size: 85%;
    line-height: 1.3;
    border: solid 2px #eeeeee;
    border-radius: 5px;
}

.md pre code {
    display: inline;
    padding: 0;
    margin: 0;
    overflow: visible;
    line-height: inherit;
    word-wrap: normal;
}

.md .tab-size[data-tab-size="1"] {
    -moz-tab-size: 1;
    tab-size: 1;
}

.md .tab-size[data-tab-size="2"] {
    -moz-tab-size: 2;
    tab-size: 2;
}

.md .tab-size[data-tab-size="3"] {
    -moz-tab-size: 3;
    tab-size: 3;
}

.md .tab-size[data-tab-size="4"] {
    -moz-tab-size: 4;
    tab-size: 4;
}

.md .tab-size[data-tab-size="5"] {
    -moz-tab-size: 5;
    tab-size: 5;
}

.md .tab-size[data-tab-size="6"] {
    -moz-tab-size: 6;
    tab-size: 6;
}

.md .tab-size[data-tab-size="7"] {
    -moz-tab-size: 7;
    tab-size: 7;
}

.md .tab-size[data-tab-size="8"] {
    -moz-tab-size: 8;
    tab-size: 8;
}

.md .tab-size[data-tab-size="9"] {
    -moz-tab-size: 9;
    tab-size: 9;
}

.md .tab-size[data-tab-size="10"] {
    -moz-tab-size: 10;
    tab-size: 10;
}

.md .tab-size[data-tab-size="11"] {
    -moz-tab-size: 11;
    tab-size: 11;
}

.md .tab-size[data-tab-size="12"] {
    -moz-tab-size: 12;
    tab-size: 12;
}

.md code .kw,
.md code .cf,
.md code .sc {
    color: #cc7832;
}

.md code .dv,
.md code .bn,
.md code .fl {
    color: #6897bb;
}

.md code .ch,
.md code .st {
    color: #6a8759;
}

.md code .co {
    color: #808080;
}

.md code .fu {
    color: #ffC66d;
}

.md code .er {
    text-decoration: underline wavy #ff0000;
}

.md code .wa {
    background-color: #52503a;
}

.md code .cn {
    color: #9876aa;
}

.md code .do {
    color: #658156;
}

.md code .an,
.md code .at {
    color: #bbb529;
}
